{{controller}}
<h3>Login</h3>
<form action="" method="get" accept-charset="utf-8" class="form-horizontal">
  <div class="control-group">
    <label for="email"></label>
    {{view Ember.TextField valueBinding="email"}}

    <label for="password"></label>
    {{view Ember.TextField valueBinding="password" type="password"}}
  </div>
  <button {{ action 'login' }}>login</button>
</form>
