{{controller}}
<h3>Login</h3>
<form class="form-inline" {{action "login" on="submit"}}>
  {{#if loginFailed}}
  <div class="alert"> invalid email or password.  </div>
  {{/if}}

  {{input type="email" value=email class="form-control" placeholder="Email"}}
  {{input type="password" value=password class="form-control" placeholder="Password"}}
  <button type="submit" class="btn btn-default">log in</button>
</form>
