<h1>Timesheet {{name}}</h1>
<p>{{#linkTo 'timesheets'}}back to timesheets{{/linkTo}}</p>

<a href="#" class="btn btn-primary">Add Entry</a>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hours</th>
      <th>Notes</th>
      <th>Project</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
