<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-3">
      <ul class="nav nav-pills nav-stacked well">
        {{#each timesheet in controller}}
        <li> {{#linkTo 'timesheet' timesheet}}{{timesheet.name}}{{/linkTo}} </li>
        {{else}}
        <li>{{#linkTo 'timesheets.new'}}Add Timesheet{{/linkTo}}</li>
        {{/each}}
      </ul>
      {{#linkTo 'timesheets.new' class="btn btn-default"}}+{{/linkTo}}
    </div>
    <div class="col-lg-9">
      {{outlet}}
    </div>
  </div>
</div>
