<h1>entries.index</h1>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hours</th>
      <th>Notes</th>
      <th>Project</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

